<post class="media">
    <figure class="media-left">
        <p class="image is-128x128">
            <img id="post-pic"
                src="https://nomorsiapa.com/images/v/th/id/OIP.qpt2eFvQWlaI5SlyN8RO1QHaFf?w=241&h=180&c=7&r=0&o=5&pid=1.7">
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <p>
                <strong>{{user.username}}</strong> <small>@poster</small> <small>{{format_date created_at}}</small>
                <br>
            <p>{{post_text}}</p>
            </p>
        </div>
    </div>
</post>

<script src="/public/js/comment-post.js"></script>