<post class='media'>
  <figure class='media-left'>
    <p class='image is-128x128'>
      <img id='post-pic' src='' />
    </p>
  </figure>
  <div class='media-content'>
    <div class='content'>
      <p>
        <strong>{{username}}</strong>
        <small>{{format_date created_at}}</small>
        <br />
        <p>{{post_text}}</p>
      </p>
    </div>
  </div>
</post>

