<post class="media">
    <figure class="media-left">
        <p class="image is-128x128">
            <img
                src="https://nomorsiapa.com/images/v/th/id/OIP.qpt2eFvQWlaI5SlyN8RO1QHaFf?w=241&h=180&c=7&r=0&o=5&pid=1.7">
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <p>
                <strong>post name</strong> <small>@poster</small> <small>time</small>
                <br>
            <p>Found somthing move i bite it tail purr for no reason yet sit on human they not getting up ever. I heard
                this rumor where the humans are our owners, pfft, what do they know?!</p>
            </p>
        </div>
    </div>
</post>

<comment class="media">
    <figure class="media-left">
        <p class="image is-128x128">
            <img id="comment-pic" src="">
        </p>
    </figure>
    <div class="media-content">
        <form class="control">
            <textarea class="textarea" placeholder="Add a comment"></textarea>
        </form>
        <nav class="level">
            <button class="button is-info">Submit</button>
        </nav>
    </div>
</comment>