<form action="" class="panel emp-panel has-text-centered is-primary is-flex is-flex-direction-column">
    <h1 class="panel-heading">Employee Info</h1>

    <ul id="empInfo" class="is-flex is-justify-content-center is-flex-wrap-wrap">

        <li class="not-radio emp-input">
            <label for="qa-supervisor">QA Supervisor</label>
            <input class="input emp-input is-rounded is-primary" type="text" name="qa-supervisor" id="qaSupervInput"
                placeholder="Username">
        </li>
        <li class="not-radio emp-input">
            <label for="qa-agent">QA Agent</label>
            <input class="input emp-input is-rounded is-primary" type="text" name="qa-agent" id="qaAgentInput"
                placeholder="QA Agent">
        </li>
        <li class="not-radio emp-input">
            <label for="supervisor">Supervisor</label>
            <input class="input emp-input is-rounded is-primary" type="text" name="supervisor" id="supervisorInput"
                placeholder="Supervisor">
        </li>
        <li class="not-radio emp-input">
            <label for="emp-name">Employee Name</label>
            <input class="input emp-input is-rounded is-primary" type="text" name="emp-name" id="empNameInput"
                placeholder="Employee Name">
        </li>
        <li class="not-radio emp-input">
            <label for="emp-id">Employee ID</label>
            <input class="input emp-input is-rounded is-primary" type="text" name="emp-id" id="empIdInput"
                placeholder="Employee ID">
        </li>
        <li class="not-radio emp-input">
            <label for="role">Role</label>
            <input class="input emp-input is-rounded is-primary" type="text" name="role" id="roleInput"
                placeholder="Role">
        </li>
        <li class="not-radio emp-input">
            <label for="start-site">Start Site</label>
            <input class="input emp-input is-rounded is-primary" type="text" name="start-site" id="startSiteInput"
                placeholder="Start Site">
        </li>
        <li class="not-radio emp-input">
            <label for="work-site">Work Site</label>
            <input class="input emp-input is-rounded is-primary" type="text" name="work-site" id="workSiteInput"
                placeholder="Work Site">
        </li>
        <li class="not-radio emp-input">
            <label for="lang">Language</label>
            <input class="input emp-input is-rounded is-primary" type="text" name="lang" id="languageInput"
                placeholder="Language">
        </li>
        <li class="not-radio emp-input">
            <label for="group">Group</label>
            <input class="input emp-input is-rounded is-primary" type="text" name="group" id="groupInput"
                placeholder="Group">
        </li>
        <li class="not-radio emp-input">
            <label for="groupCInput">Group Change</label>
            <input class="input emp-input is-rounded is-primary" type="text" name="user" id="groupCInput"
                placeholder="Group Change">
        </li>
        <li class="not-radio emp-input">
            <label for="email">Email</label>
            <input class="input emp-input is-rounded is-primary" type="email" name="email" id="emailInput"
                placeholder="Email">
        </li>
        <li class="not-radio emp-input">
            <label for="email">Assignment Change</label>
            <input class="input emp-input is-rounded is-primary" type="email" name="email" id="assignmentInput"
                placeholder="Assignment Change">
        </li>
        <li class="not-radio emp-input">
            <label for="email">OJT</label>
            <input class="input emp-input is-rounded is-primary" type="email" name="email" id="ojtInput"
                placeholder="OJT">
        </li>
        <li class="not-radio emp-input">
            <label for="email">CSR Count</label>
            <input class="input emp-input is-rounded is-primary" type="email" name="email" id="countInput"
                placeholder="CSR Count">
        </li>
    </ul>

    <ul class="is-flex is-justify-content-center is-flex-wrap-wrap">
        <li>

            <button class="button emp-button is-primary is-normal" type="submit">Update</button>
        </li>
        <li>

            <button class="button emp-button is-primary is-normal" type="submit">Add</button>
        </li>
    </ul>
</form>