<form
  action=""
  class="panel emp-panel has-text-centered is-primary is-flex is-flex-direction-column"
>
  <h1 class="panel-heading">Employee Info</h1>

  <ul id="empInfo" class="is-flex is-justify-content-center is-flex-wrap-wrap">

    <li class="not-radio emp-input">
      <label for="qa-agent">QA Agent</label>
      <input
        class="input emp-input is-rounded is-primary"
        type="text"
        name="qa-agent"
        id="qaAgentInput"
        placeholder="QA Agent"
      />
    </li>
    <li class="not-radio emp-input">
      <label for="supervisor">Supervisor</label>
      <input
        class="input emp-input is-rounded is-primary"
        type="text"
        name="supervisor"
        id="supervisorInput"
        placeholder="Supervisor"
      />
    </li>
    <li class="not-radio emp-input">
      <label for="emp-name">Employee First Name</label>
      <input
        class="input emp-input is-rounded is-primary"
        type="text"
        name="first-name"
        id="firstNameInput"
        placeholder="First Name"
      />
    </li>
    <li class="not-radio emp-input">
      <label for="emp-name">Employee Last Name</label>
      <input
        class="input emp-input is-rounded is-primary"
        type="text"
        name="last-name"
        id="lastNameInput"
        placeholder="Last Name"
      />
    </li>

    <li class="not-radio emp-input">
      <label for="emp-id">Employee Number</label>
      <input
        class="input emp-input is-rounded is-primary"
        type="text"
        name="emp-number"
        id="empNumberInput"
        placeholder="Employee Number"
      />
    </li>
    <li class="not-radio emp-input">
      <label for="role">Role</label>
      <input
        class="input emp-input is-rounded is-primary"
        type="text"
        name="role"
        id="roleInput"
        placeholder="Role"
      />
    </li>
    <li class="not-radio emp-input">
      <label for="work-site">Work Site</label>
      <input
        class="input emp-input is-rounded is-primary"
        type="text"
        name="work-site"
        id="workSiteInput"
        placeholder="Work Site"
      />
    </li>
    <li class="not-radio emp-input">
      <label for="lang">Language</label>
      <input
        class="input emp-input is-rounded is-primary"
        type="text"
        name="lang"
        id="languageInput"
        placeholder="Language"
      />
    </li>
    <li class="not-radio emp-input">
      <label for="email">Group</label>
      <input
        class="input emp-input is-rounded is-primary"
        type="text"
        name="group"
        id="groupInput"
        placeholder="Group"
      />
    </li>
  </ul>

  <ul class="is-flex is-justify-content-center is-flex-wrap-wrap">
    <li>

      <button
        class="update-button emp-button is-primary is-normal"
        type="submit"
      >Update</button>
    </li>
    <li>

      <button
        class="add-button emp-button is-primary is-normal"
        type="submit"
      >Add</button>
    </li>
  </ul>
</form>