{{#if post.length}}

<ol class="post-list">
    {{#each post as |post|}}
    <li>
        {{> post-info post }}
    </li>
    {{/each}}
</ol>
{{/if}}

{{#if loggedIn}}
<comment class="media new-post-form">
    <figure class="media-left">
        <p class="image is-128x128">
            <img id="comment-pic" src="" />
        </p>
    </figure>
    <div class="media-content">
        <form class="control">
            <input class="textarea" name="post-text" placeholder="Add a comment"></input>
        </form>
        <nav class="level">
            <button class="is-info">Submit</button>
        </nav>
    </div>
</comment>
{{/if}}

<script src="../javascript/comment-post.js"></script>
<script src='../javascript/add-post.js'></script>
<script src='../javascript/delete-post.js'></script>
<script src='../javascript/edit-post.js'></script>