<form action="" class="panel sign-form is-primary has-text-centered">
    <h1 class="panel-heading">Login</h1>
    <ul class="sign-up">
        <li class="not-radio">
            <label for="user">Username</label>
            <input class="input is-rounded is-primary" type="text" name="user" id="logUsernameInput"
                placeholder="Username">
        </li>
        <li class="not-radio">
            <label for="password">Password</label>
            <input class="input is-rounded is-primary" type="password" name="password" id="logPasswordInput"
                placeholder="Password">
        </li>
        <li>
            <a class="" href="#">Don't have an account? Sign Up!</a>
        </li>
    </ul>
</form>