<search class="panel is-primary">
    <h1 class="panel-heading">Search</h1>
    <input class="input is flex is-justify-content-center" type="input" name="" id="" placeholder="Search">
    <div class="panel-tabs">
        <a class="allSearch is-active">All</a>
        <a class="qaAgentSearch">QA Agent</a>
        <a class="employeeSearch">Employee</a>
        <a class="empNameSearch">Employee Name</a>
    </div>
</search>