<search class="panel is-primary">
    <h1 class="panel-heading">Search</h1>
    <input class="input is flex is-justify-content-center" type="input" name="" id="" placeholder="Search">
</search>

<script src="/public/js/search.js"></script>