<search class="panel is-primary">
  <h1 class="panel-heading has-text-centered">Search</h1>
  <input
    class="input is flex is-justify-content-center"
    type="input"
    name=""
    id="searchBar"
    placeholder="Search"
  />
</search>

<card
  id="employeeCard"
  class="is-flex is-flex-direction-row is-flex-wrap-wrap is-justify-content-center"
>

</card>

<script src="/javascript/search.js"></script>