<form action="" class="panel is-primary">
    <h1 class="panel-heading">Sign Up</h1>
    <ul>
        <li class="not-radio">
            <label for="user">Username</label>
            <input class="input is-rounded is-primary" type="text" name="user" id="usernameInput"
                placeholder="Username">
        </li>
        <li class="not-radio">
            <label for="email">Email</label>
            <input class="input is-rounded is-primary" type="email" name="email" id="emailInput" placeholder="Email">
        </li>
        <li class="not-radio">
            <label for="password">Password</label>
            <input class="input is-rounded is-primary" type="password" name="password" id="passwordInput"
                placeholder="Password">
        </li>
        <li class="is-flex is-align-items-center is-justify-content-space-around">
            <label class="outlier-label" for="">QA SuperVisor</label>
            <input class="outlier-radio" type="radio" name="qaCheck" id="">
            <label class="outlier-label" for="">QA Agent</label>
            <input class="outlier-radio" type="radio" name="qaCheck" id="">
        </li>
    </ul>
</form>