{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
        <button type="button" class="upvote-btn">upvote</button>
    </div>
</form>
{{/if}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}



      <tr>
        <th>{{id}}</th>
        <th>Bob</th>
        <th>Tester</th>
        <th>123456</th>
        <th>Moon</th>
        <th>John Boss</th>
        <th>CSR</th>
        <th>Remote</th>
        <th>English</th>
        <th>A</th>
        <th>Lorde Swift</th>
        <th>Jack Love</th>
      </tr>