<div class='table-container is-flex is-justify-content-center is-flex-direction-column'>
  <table class='table has-text-centered is-bordered'>
    <thead>
      <tr>
        <th class='is-dark'>Num</th>
        <th class='is-dark'>First Name</th>
        <th class='is-dark'>Last Name</th>
        <th class='is-dark'>Employee Number</th>
        <th class='is-dark'>Site</th>
        <th class='is-dark'>Role</th>
        <th class='is-dark'>Language</th>
        <th class='is-dark'>Group</th>
        <th class='is-dark'>SuperVisor</th>
        <th class='is-dark'>QA Agent</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <th>Bob</th>
        <th>Tester</th>
        <th>123456</th>
        <th>Moon</th>
        <th>CSR</th>
        <th>English</th>
        <th>A</th>
        <th>John Boss</th>
        <th>Lorde Swift</th>
      </tr>
      <tr>
        <th>1</th>
        <th>Bob</th>
        <th>Tester</th>
        <th>123456</th>
        <th>Moon</th>
        <th>CSR</th>
        <th>English</th>
        <th>A</th>
        <th>John Boss</th>
        <th>Lorde Swift</th>
      </tr>
      <tr>
        <th>1</th>
        <th>Bob</th>
        <th>Tester</th>
        <th>123456</th>
        <th>Moon</th>
        <th>CSR</th>
        <th>English</th>
        <th>A</th>
        <th>Lorde Swift</th>
        <th>John Boss</th>
      </tr>
      <tr>
        <th>1</th>
        <th>Bob</th>
        <th>Tester</th>
        <th>123456</th>
        <th>Moon</th>
        <th>CSR</th>
        <th>English</th>
        <th>A</th>
        <th>Lorde Swift</th>
        <th>John Boss</th>
      </tr>
      <tr>
        <th>1</th>
        <th>Bob</th>
        <th>Tester</th>
        <th>123456</th>
        <th>Moon</th>
        <th>CSR</th>
        <th>English</th>
        <th>A</th>
        <th>John Boss</th>
        <th>Lorde Swift</th>
      </tr>
      <tr>
        <th>1</th>
        <th>Bob</th>
        <th>Tester</th>
        <th>123456</th>
        <th>Moon</th>
        <th>CSR</th>
        <th>English</th>
        <th>A</th>
        <th>John Boss</th>
        <th>Lorde Swift</th>
      </tr>
      <tr>
        <th>1</th>
        <th>Bob</th>
        <th>Tester</th>
        <th>123456</th>
        <th>Moon</th>
        <th>CSR</th>
        <th>English</th>
        <th>A</th>
        <th>John Boss</th>
        <th>Lorde Swift</th>
      </tr>
      <tr>
        <th>1</th>
        <th>Bob</th>
        <th>Tester</th>
        <th>123456</th>
        <th>Moon</th>
        <th>CSR</th>
        <th>English</th>
        <th>A</th>
        <th>John Boss</th>
        <th>Lorde Swift</th>
      </tr>
      <tr>
        <th>1</th>
        <th>Bob</th>
        <th>Tester</th>
        <th>123456</th>
        <th>Moon</th>
        <th>CSR</th>
        <th>English</th>
        <th>A</th>
        <th>John Boss</th>
        <th>Lorde Swift</th>
      </tr>
      <tr>
        <th>1</th>
        <th>Bob</th>
        <th>Tester</th>
        <th>123456</th>
        <th>Moon</th>
        <th>CSR</th>
        <th>English</th>
        <th>A</th>
        <th>John Boss</th>
        <th>Lorde Swift</th>
      </tr>
      <tr>
        <th>1</th>
        <th>Bob</th>
        <th>Tester</th>
        <th>123456</th>
        <th>Moon</th>
        <th>CSR</th>
        <th>English</th>
        <th>A</th>
        <th>John Boss</th>
        <th>Lorde Swift</th>
      </tr>
    </tbody>
  </table>
  <li class='is-flex is-justify-content-center'>
    <button class='button table-one-button is-flex is-dark'>Download</button>
  </li>
</div>

<script src='/public/javascript/download.js'></script>