
{{!-- ALL EMPLOYEES TABLE --}}
<table class="table has-text-centered is-bordered is-hoverable">
    <thead>
        <tr>
            <th>Num</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Employee Number</th>
            <th>Start Date</th>
            <th>Site</th>
            <th>SuperVisor</th>
            <th>Role</th>
            <th>Work Site</th>
            <th>Language</th>
            <th>Group</th>
            <th>QA Agent</th>
            <th>QA SuperVisor</th>
            <th>Assignment Change</th>
            <th>Group Change</th>
            <th>OJT</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <th>Bob</th>
            <th>Tester</th>
            <th>123456</th>
            <th>2/22/2222</th>
            <th>Moon</th>
            <th>John Boss</th>
            <th>CSR</th>
            <th>Remote</th>
            <th>English</th>
            <th>A</th>
            <th>Lorde Swift</th>
            <th>Jack Love</th>
            <th>Yes</th>
            <th>No</th>
            <th>Yes</th>
        </tr>
        <tr>
            <th>1</th>
            <th>Bob</th>
            <th>Tester</th>
            <th>123456</th>
            <th>2/22/2222</th>
            <th>Moon</th>
            <th>John Boss</th>
            <th>CSR</th>
            <th>Remote</th>
            <th>English</th>
            <th>A</th>
            <th>Lorde Swift</th>
            <th>Jack Love</th>
            <th>Yes</th>
            <th>No</th>
            <th>Yes</th>
        </tr>
        <tr>
            <th>1</th>
            <th>Bob</th>
            <th>Tester</th>
            <th>123456</th>
            <th>2/22/2222</th>
            <th>Moon</th>
            <th>John Boss</th>
            <th>CSR</th>
            <th>Remote</th>
            <th>English</th>
            <th>A</th>
            <th>Lorde Swift</th>
            <th>Jack Love</th>
            <th>Yes</th>
            <th>No</th>
            <th>Yes</th>
        </tr>
        <tr>
            <th>1</th>
            <th>Bob</th>
            <th>Tester</th>
            <th>123456</th>
            <th>2/22/2222</th>
            <th>Moon</th>
            <th>John Boss</th>
            <th>CSR</th>
            <th>Remote</th>
            <th>English</th>
            <th>A</th>
            <th>Lorde Swift</th>
            <th>Jack Love</th>
            <th>Yes</th>
            <th>No</th>
            <th>Yes</th>
        </tr>
        <tr>
            <th>1</th>
            <th>Bob</th>
            <th>Tester</th>
            <th>123456</th>
            <th>2/22/2222</th>
            <th>Moon</th>
            <th>John Boss</th>
            <th>CSR</th>
            <th>Remote</th>
            <th>English</th>
            <th>A</th>
            <th>Lorde Swift</th>
            <th>Jack Love</th>
            <th>Yes</th>
            <th>No</th>
            <th>Yes</th>
        </tr>
        <tr>
            <th>1</th>
            <th>Bob</th>
            <th>Tester</th>
            <th>123456</th>
            <th>2/22/2222</th>
            <th>Moon</th>
            <th>John Boss</th>
            <th>CSR</th>
            <th>Remote</th>
            <th>English</th>
            <th>A</th>
            <th>Lorde Swift</th>
            <th>Jack Love</th>
            <th>Yes</th>
            <th>No</th>
            <th>Yes</th>
        </tr>
        <tr>
            <th>1</th>
            <th>Bob</th>
            <th>Tester</th>
            <th>123456</th>
            <th>2/22/2222</th>
            <th>Moon</th>
            <th>John Boss</th>
            <th>CSR</th>
            <th>Remote</th>
            <th>English</th>
            <th>A</th>
            <th>Lorde Swift</th>
            <th>Jack Love</th>
            <th>Yes</th>
            <th>No</th>
            <th>Yes</th>
        </tr>
        <tr>
            <th>1</th>
            <th>Bob</th>
            <th>Tester</th>
            <th>123456</th>
            <th>2/22/2222</th>
            <th>Moon</th>
            <th>John Boss</th>
            <th>CSR</th>
            <th>Remote</th>
            <th>English</th>
            <th>A</th>
            <th>Lorde Swift</th>
            <th>Jack Love</th>
            <th>Yes</th>
            <th>No</th>
            <th>Yes</th>
        </tr>
        <tr>
            <th>1</th>
            <th>Bob</th>
            <th>Tester</th>
            <th>123456</th>
            <th>2/22/2222</th>
            <th>Moon</th>
            <th>John Boss</th>
            <th>CSR</th>
            <th>Remote</th>
            <th>English</th>
            <th>A</th>
            <th>Lorde Swift</th>
            <th>Jack Love</th>
            <th>Yes</th>
            <th>No</th>
            <th>Yes</th>
        </tr>
        <tr>
            <th>1</th>
            <th>Bob</th>
            <th>Tester</th>
            <th>123456</th>
            <th>2/22/2222</th>
            <th>Moon</th>
            <th>John Boss</th>
            <th>CSR</th>
            <th>Remote</th>
            <th>English</th>
            <th>A</th>
            <th>Lorde Swift</th>
            <th>Jack Love</th>
            <th>Yes</th>
            <th>No</th>
            <th>Yes</th>
        </tr>
        <tr>
            <th>1</th>
            <th>Bob</th>
            <th>Tester</th>
            <th>123456</th>
            <th>2/22/2222</th>
            <th>Moon</th>
            <th>John Boss</th>
            <th>CSR</th>
            <th>Remote</th>
            <th>English</th>
            <th>A</th>
            <th>Lorde Swift</th>
            <th>Jack Love</th>
            <th>Yes</th>
            <th>No</th>
            <th>Yes</th>
        </tr>
    </tbody>
</table>
{{!-- QA SUPERVISOR TABLE --}}
<table class="table has-text-centered is-bordered is-hoverable">
    <thead>
        <tr>
            <th>QA Staff</th>
            <th>Skill</th>
            <th>Site</th>
            <th>CSR Count</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>John Login</th>
            <th>Archery</th>
            <th>Texas</th>
            <th>200</th>
        </tr>
        <tr>
            <th>John Login</th>
            <th>Archery</th>
            <th>Texas</th>
            <th>200</th>
        </tr>
        <tr>
            <th>John Login</th>
            <th>Archery</th>
            <th>Texas</th>
            <th>200</th>
        </tr>
        <tr>
            <th>John Login</th>
            <th>Archery</th>
            <th>Texas</th>
            <th>200</th>
        </tr>
        <tr>
            <th>John Login</th>
            <th>Archery</th>
            <th>Texas</th>
            <th>200</th>
        </tr>
    </tbody>
</table>