<div class='table-container is-flex is-justify-content-center is-flex-direction-column'>
  <table class='table has-text-centered is-bordered'>
    <thead>
      <tr>
        <th class='is-dark'></th>
        <th class='is-dark'>First Name</th>
        <th class='is-dark'>Last Name</th>
        <th class='is-dark'>Employee Number</th>
        <th class='is-dark'>Site</th>
        <th class='is-dark'>Role</th>
        <th class='is-dark'>Language</th>
        <th class='is-dark'>Group</th>
        <th class='is-dark'>Supervisor</th>
        <th class='is-dark'>QA Agent</th>
      </tr>
    </thead>
    {{#if employees.length}}
    <tbody>
      {{#each employees as |employee|}}
      {{> employee-table employee}}
    </tbody>
    {{/each}}
  </table>
  {{/if}}
  <li class='is-flex is-justify-content-center'>
    <button class='button table-one-button is-flex is-dark'>Download</button>
  </li>
</div>

<script src='/public/javascript/download.js'></script>