:root {
    font-size: 20px;
    --text-color: black;
    --bg-main: #00d1b2;
    --bg-alt: #00b79c;
}

body {
    color: black;
    font-weight: 700;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb {
    background: var(--bg-main);
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    position: fixed;
    background-color: var(--bg-main);
    transition: width 600ms ease;
}

.navbar-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

/* Makes sure this will keep the back button at the very bottom at all times */
#backButton {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-main);
    filter: grayscale(100%);
    transition: 300ms ease-in;
    width: 15rem;
}

.nav-link:hover {
    color: #fff;
    filter: grayscale(0%);
    background: var(--bg-alt);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    margin: 0 1.5rem;
}

/* UNDER 1024 WIDTH. FIXES WIDTH ERROR */
@media (max-width: 1023px) {
    .nav-link {
        width: 100%;
    }
}

/* 600 WIDTH AND ABOVE */
@media (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 15rem;
    }

    .navbar:hover .link-text {
        display: inline;
    }
}


/* UNDER 600 WIDTH */
@media (max-width: 600px) {

    main {
        margin-left: 0;
        padding: 0;
    }

    body {
        margin-bottom: 100px;
    }

    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .navbar-list {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
        width: 6rem;
    }

    .emp-panel {
        width: 100% !important;
    }
}